body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: gray;
}
aside {
  width: 250px;
  display: flex;
  flex-direction: column;
}
section {
  flex: 1;
}
#logo {
  max-width: 50px;
  max-height: 30px;
}
header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-right: 3px solid rgb(42, 42, 42);
}
nav {
  border-right: 3px;
}
